{% include 'desktop/common/head.html' %}
<body>
    {% include 'desktop/common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'desktop/rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'desktop/rightbar/ads.html' %}
        </div>
        <div id="Content">
            {{ page.content_rendered }}
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'desktop/common/bottom.html' %}
</body>
</html>